.body {
    display: flex;
    flex-direction: column;

    height: auto;
    min-height: 100dvh;

    color: var(--color-dark);
    background: var(--color-bg);
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}
